# Node modules
node_modules/
dist
dist-ssr
*.local

# TypeScript build output
/dist/
/build/
/*.tsbuildinfo

# Environment files
.env
.env.development
.env.* 
.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories (for package managers other than npm)
bower_components/

# IDE or Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows

# TypeScript cache
/.tscache/

# Local npm package cache
.npm/

# Debugger config files
/.vscode/