.MuiBreadcrumbs-root {
  display: none;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

h6{
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
}

form {
  display: block;
}



.entryLabel {
  font-weight: bold;
  padding: 8px;
}

.textArea {
  font-weight: bold;
}